# ======================
# Node / Frontend
# ======================
node_modules/
dist/
build/

# ======================
# Python / Backend
# ======================
__pycache__/
*.pyc
.env
.venv/

# ======================
# OS
# ======================
.DS_Store

# ======================
# Logs
# ======================
npm-debug.log*
yarn-debug.log*